<div class="full-page">
    <div class="header" style="margin-top: 0.1em;">
        <div style="display: flex; flex-direction: row; justify-content: start;">
            <!-- <button mat-mini-fab color='primary' (click)='this.refresh()'>
                <mat-icon>refresh</mat-icon>
            </button> -->
            <!-- valueChnaged NOT fired! -->
            <!-- <data-control *ngIf="this.isBoard()" style="width: 100%;" [field]="this.$.branch!"></data-control> -->
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; ">
            <div style="display: flex; flex-direction: row; justify-content: center; ">
                <button mat-flat-button (click)="this.prevWeek()">&#60; שבוע קודם</button>
                <button mat-mini-fab color='primary' (click)='this.refresh()'>
                    <mat-icon>refresh</mat-icon>
                </button>
                <button mat-flat-button (click)="this.nextWeek()">שבוע הבא &#62;</button>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: center; ">

                <data-control [field]='this.$.fromDate'></data-control>
                <span style="margin: 2px;margin-top: 10px;">{{this.getDayOfWeek(this.fromDate)}}' -
                    {{this.getDayOfWeek(this.toDate)}}'</span>
                <data-control [field]='this.$.toDate'></data-control>
                <!-- <button mat-mini-fab color='primary' (click)='this.refresh()'>
                <mat-icon>refresh</mat-icon>
            </button> -->
                <!-- <button mat-mini-fab color='primary' (click)='this.print()'>
                <mat-icon>print</mat-icon>
            </button> -->
            </div>
        </div>
    </div>
    <div class="grow-item">
        <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: space-around; flex-wrap: wrap;">

            <div style="display: block; width:350px;">
                <canvas baseChart [colors]="pieChartColors" [data]="pieChartDataStatuses"
                    [labels]="pieChartLabelsStatuses" [chartType]="pieChartType" [options]="pieChartOptionsByStatuses"
                    [plugins]="pieChartPlugins" [legend]="pieChartLegend"
                    (chartClick)="chartClicked(this.filterBy.status, $event)">
                </canvas>
            </div>
            <div style="display: block; width:350px;">
                <canvas baseChart [colors]="pieChartColors" [data]="pieChartDataDayPeriods"
                    [labels]="pieChartLabelsDayPeriods" [chartType]="pieChartType"
                    [options]="pieChartOptionsByDayPeriods" [plugins]="pieChartPlugins" [legend]="pieChartLegend"
                    (chartClick)="chartClicked(this.filterBy.period, $event)">
                </canvas>
            </div>
            <div style="display: block; width:350px;">
                <canvas baseChart [colors]="pieChartColors" [data]="pieChartDataPurposes"
                    [labels]="pieChartLabelsPurposes" [chartType]="pieChartType" [options]="pieChartOptionsByPurpose"
                    [plugins]="pieChartPlugins" [legend]="pieChartLegend"
                    (chartClick)="chartClicked(this.filterBy.purpose, $event)">
                </canvas>
            </div>
            <div style="display: block; width:350px;">
                <canvas baseChart [colors]="pieChartColors" [data]="pieChartDataWeekDay"
                    [labels]="pieChartLabelsWeekDay" [chartType]="pieChartType" [options]="pieChartOptionsByWeekDay"
                    [plugins]="pieChartPlugins" [legend]="pieChartLegend"
                    (chartClick)="chartClicked(this.filterBy.day, $event)">
                </canvas>
            </div>

            <!-- <div *ngIf="this.isBoard()">
                <canvas baseChart [colors]="pieChartColors" [data]="pieChartDataBranches"
                    [labels]="pieChartLabelsBranches" [chartType]="pieChartType" [options]="pieChartOptionsByBranches"
                    [plugins]="pieChartPlugins" [legend]="pieChartLegend" (chartClick)="chartClicked(this.filterBy.branch ,$event)">
                </canvas>
            </div> -->
        </div>

        <div *ngIf="this.remult.user.isBoardOrAbove" style="display:flex;flex-direction: row;flex-grow: 1;justify-content: space-around; flex-wrap: wrap;">
            <div style="display: block; width:95%;">
                <canvas baseChart [colors]="barChartColors" [data]="barChartDataBranches"
                    [labels]="barChartLabelsBranches" [chartType]="barChartType" [options]="barChartOptionsByBranch"
                    [plugins]="barChartPlugins" [legend]="barChartLegend"
                    (chartClick)="chartClicked(this.filterBy.branch, $event)">
                </canvas>
            </div>
        </div>
    </div>
    <div class="footer" style="margin: 1em;">
        <span> נכון ל: {{ this.refreshedTime }} </span>
        <!-- <button (click)='this.sendEmail()'>Send Email</button> -->
    </div>
</div>

<!-- <div style="display: block; width:350px;">
                <canvas baseChart [colors]="pieChartColors" [data]="pieChartData" [labels]="pieChartLabels"
                    [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend" (chartClick)="chartClicked($event)">
                </canvas>
            </div> -->

<!-- <div style="display: block; width:350px;">
                <canvas baseChart [colors]="pieChartColors" [data]="pieChartData" [labels]="pieChartLabels"
                    [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend" (chartClick)="chartClicked($event)">
                </canvas>
            </div> -->
<!-- </div>
        <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: space-between;"> -->