<div class="full-page">
    <div class="header" style="margin: 1em;"></div>
    <div class="grow-item" style="margin: 1em;">
        <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: center;">
            <!-- <div style="display: block;"> -->
                <!-- <button (click)="sendEmail()">שליחת מייל בדיקה</button> -->
                <canvas baseChart 
                      [colors]="pieChartColors" 
                      [data]="pieChartData" 
                      [labels]="pieChartLabels" 
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins"
                      [legend]="pieChartLegend">
                    </canvas>
            <!-- </div> -->
        </div>
    </div>
    <div class="footer" style="margin: 1em;"></div>
</div>