<div class="full-page">
    <div *ngIf="!this.showViewer" class="header" style="margin: 5px;">
        <!-- <div>
            <video width="320" height="240" controls>
                <source src="https://eshel-app.s3.eu-central-1.amazonaws.com/bbb_sunflower_1080p_60fps_normal.mp4#t=1" type="video/mp4">
                Your browser does not support the video tag.
              </video>
        </div> -->
        <div style="display: flex; flex-direction: row">
            <div style="display: flex; flex-direction: row; justify-content: flex-start;">
                <button mat-mini-fab (click)="this.refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                <button mat-mini-fab (click)="this.nextPage()">
                    <mat-icon>navigate_before</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="grow-item">
        <div *ngIf="this.showViewer! && this.selectedImage"
            style="display: flex; flex-direction: column; justify-content: space-between; ">
            <div style="display: flex; justify-content: start; ">
                <button mat-flat-button (click)="this.showViewer = false">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="image-viewer">
                <ng-container>
                    <button mat-flat-button (click)="this.setSelectedImage(-1)" style="background-color: transparent;">
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                    <mat-card>
                        <mat-card-title>
                            <div> {{ this.selectedImage.vname }} ({{ this.selectedImage.bname }}) </div>
                            <div>
                                <h3>{{ this.selectedImage.created | date:'dd.MM.YYYY HH:mm' }}</h3>
                            </div>
                        </mat-card-title>
                        <mat-card-content>
                            <div class="image" style="width: 80%;">
                                <div *ngIf="this.selectedImage.type.includes('video')">
                                    <video controls>
                                        <source [src]="this.selectedImage.link + '#t=1'">
                                        Your browser does not support the video tag.
                                      </video>
                                </div>
                                
                                <div *ngIf="this.selectedImage.type.includes('audio')">
                                    <audio controls>
                                        <source [src]="this.selectedImage.link" [type]="this.selectedImage.type">
                                        Your browser does not support the audio tag.
                                      </audio>
                                </div>
                                
                                <div *ngIf="!(this.selectedImage.type.includes('video') || this.selectedImage.type.includes('audio'))">
                                    <img [src]='this.selectedImage.link'>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <button mat-flat-button (click)="this.setSelectedImage(+1)" style="background-color: transparent;">
                        <mat-icon>navigate_before</mat-icon>
                    </button>
                </ng-container>
            </div>

        </div>

        <div *ngIf="!this.showViewer! && this.photos" class="image-container">
            <ng-container *ngFor="let p of this.photos">
                <mat-card>
                    <mat-card-title>
                        <div> {{ p.vname }} ({{ p.bname }}) </div>
                        <div>
                            <h3>{{ p.created | date:'dd.MM.YYYY HH:mm' }}</h3>
                        </div> 
                    </mat-card-title>
                    <mat-card-content>
                        <div style="width: 100%;">
                            <div *ngIf="p.type.includes('video')" (click)="this.selectedImage = p; this.showViewer = false">
                                <video class="image" controls>
                                    <source [src]="p.link + '#t=1'">
                                    Your browser does not support the video tag.
                                  </video>
                            </div>
                            
                            <div *ngIf="p.type.includes('audio')" (click)="this.selectedImage = p; this.showViewer = false">
                                <audio class="image" controls>
                                    <source [src]="p.link" [type]="p.type">
                                    Your browser does not support the audio tag.
                                  </audio>
                            </div>
                            
                            <div *ngIf="!(p.type.includes('video') || p.type.includes('audio'))" (click)="this.selectedImage = p; this.showViewer = false">
                                <img class="image" [src]='p.link'>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>

    </div>

    <div class="footer"></div>
</div>