<div class="ng-container">
    <div class="header">
        <div style="display: flex; flex-direction: row; justify-content: space-between; ">
            <div style="display: flex; flex-direction: row; justify-content: start;">
                <button mat-icon-button mat-dialog-close title="סגור" (click)="close()">
                    <mat-icon>close</mat-icon>
                </button>
                <h2> {{ this.args.aid? this.terms.activityDetails :this.terms.newActivity }} </h2>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: end;">
                <button *ngIf="this.activity && !this.activity.isNew()" mat-flat-button color="primary"
                    style="height: 35px; margin-left: 5px;" (click)='openPhotosAlbum()'>
                    <!-- {{ terms.saveAndClose }} -->
                    <mat-icon>camera</mat-icon>
                </button>
                <button mat-flat-button color="primary" style="height: 35px;" (click)='saveAndClose()'>
                    {{ terms.saveAndClose }}
                </button>
            </div>
        </div>

        <data-area [settings]='this.top'></data-area>


    </div>
    <div class="ng-container">
        <data-area [settings]='this.fields'></data-area>
    </div>
    <div class="footer">
        <!-- <app-photos-album *ngIf='this.activity' [entityId]='this.activity.id'></app-photos-album> -->
        <!-- <div>
            <button title=' {{ this.terms.unpoladYoursPhotosTogether }} ' mat-button *ngIf="this.images.length < 10">
                <label for="uploadImage" style="display: flex;      align-items: center;">
                    <mat-icon>photo_camera</mat-icon>
                </label>
            </button>
            <input #fileInput type="file" (input)="onFileInput($event)" accept="image/*" id="uploadImage"
                style="display:none" />
        </div>
        <ng-container *ngFor='let img of this.images'>
            <mat-card>
                <h5> {{ img.title }} <button mat-flat-button (click)="this.removeImage(img)"><mat-icon>close</mat-icon></button> </h5>
                <img [src]='img.data' style="height: 30px; width: 30px;">
            </mat-card>
        </ng-container> -->
    </div>
</div>