<div class="ng-container">
    <div class="header">
        <div style="display: flex; flex-direction: column; justify-content: space-between; ">
            <div style="display: flex; flex-direction: row; justify-content: space-between; ">
                <div style="display: flex; flex-direction: row; justify-content: start;">
                    <button mat-icon-button mat-dialog-close title="סגור" (click)="close()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <h2> {{ this.args.aid? this.terms.activityDetails :this.terms.newActivity }} </h2>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: end;">
                    <button *ngIf="this.activity && !this.activity.isNew()" mat-flat-button color="primary"
                        style="height: 35px; margin-left: 5px;" (click)='openPhotosAlbum()'>
                        <!-- {{ terms.saveAndClose }} -->
                        <mat-icon>photo_camera</mat-icon>
                    </button>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <button *ngIf="this.isAllowEdit()" mat-flat-button color="primary" style="width: 100%;"
                    (click)='saveAndClose()'>
                    {{ terms.saveAndClose }}
                </button>
            </div>
        </div>

        <div *ngIf="this.isShowDeliveredFoodToShabat()"
            style="display: flex; flex-direction: row; justify-content: end;">
            <!-- <data-control [field]="this.activity.$.foodDelivered"></data-control> -->
            <!-- <mat-label>מסרתי לדייר את האוכל לשבת</mat-label>
            <input type="checkbox" [(ngModel)]="this.activity.$.foodDelivered"> -->
            <mat-checkbox [@shakeit] [@.disabled]="!this.didntCheckedFoodDelivery()"
                [(ngModel)]="this.activity.foodDelivered">מסרתי לדייר את האוכל לשבת</mat-checkbox>
        </div>
        <data-area [settings]='this.top'></data-area>


    </div>
    <div class="ng-container">
        <data-area [settings]='this.fields'></data-area>
    </div>
    <div class="footer">
    </div>
</div>