<div class="full-page">
    <div class="header" style="padding: 10px;">
        <div style="display: flex; flex-direction: row;">
            <div style="display: flex; flex-direction: row; justify-content: flex-start;">
                <button mat-mini-fab (click)="this.refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                <button mat-mini-fab (click)="this.addTenant()" title="שייך לי דייר חדש">
                    <mat-icon>group_add</mat-icon>
                </button>
            </div>
        </div>
        <h3 *ngIf="this.tenants && this.tenants.items.length > 0" style="text-align: center;">לחיצה על הפלוס (+) מוסיפה
            לך פעילות חדשה עם הדייר</h3>
    </div>
    <!-- <div class="header">
        <h3 *ngIf="this.tenants && this.tenants.items.length > 0" style="text-align: center;">לחיצה על הפלוס (+) מוסיפה
            לך פעילות חדשה עם הדייר</h3>
    </div> -->
    <div class="grow-item">
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <h1 *ngIf="this.tenants && this.tenants.items.length == 0"> {{ this.userMessage }} </h1>
            <ng-container *ngFor='let a of this.tenants.items'>
                <mat-card style="margin: 7px;">
                    <mat-card-title>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div style="display: flex; flex-direction: row; justify-content: start;">
                                <!-- <div style="display: flex; flex-direction: row; justify-content: flex-start;">
                                    <button mat-mini-fab (click)="this.refresh()">
                                        <mat-icon>refresh</mat-icon>
                                    </button>
                                </div> -->
                                <button mat-mini-fab color="accent" [title]="terms.addActivity"
                                    (click)="openActivity(a)">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <p style="margin-top: 10px; margin-right: 5px;"> {{ a.name }} </p>
                            </div>
                            <div style="display: flex; flex-direction: row; justify-content: end;">
                                <button *ngIf="this.a?.mobile || this.a?.phone" mat-mini-fab color="primary"
                                    (click)="this.call(this.a)">
                                    <mat-icon>call</mat-icon>
                                </button>
                                <button *ngIf="this.a?.address" style="margin-right: 10px;" mat-mini-fab color="primary"
                                    [title]='this.a?.address' (click)="this.navigate(this.a)">
                                    <!-- <mat-icon svgIcon="/assets/waze.svg"></mat-icon> -->
                                    <img src="./assets/waze.svg">
                                </button>
                                <!-- <button style="margin-right: 10px;" mat-mini-fab color="primary"
                                    [title]='terms.openPhotosAlbum' (click)="this.openPhotosAlbum(a)">
                                    <mat-icon>photo</mat-icon>
                                </button> -->
                            </div>
                        </div>
                    </mat-card-title>
                    <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: space-between;">
                        <div style="display:flex;flex-direction: column;flex-grow: 1;justify-content: flex-start;">
                            <div>
                                {{ a.birthday | date:'dd.MM.yyyy' }} (גיל: {{a.age }})
                            </div>
                            <div>
                                שפות: {{ this.getLang(a) }}
                            </div>
                        </div>
                    </div>
                    <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: flex-end;">
                        <button mat-flat-button (click)="this.removeTenant(a)">
                            הסר
                        </button>
                    </div>
                </mat-card>
            </ng-container>
        </div>
        <!-- <data-grid [settings]="this.tenants"></data-grid> -->
    </div>
    <div class="footer"></div>
</div>