<h1 mat-dialog-title>בחירת {{args.title||'סניף'}}</h1>
<div mat-dialog-content>
    <form (submit)="selectFirst()">
        <mat-form-field>
            <input matInput [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}" placeholder="שם הסניף"
                (input)="doSearch()">
        </mat-form-field>
        <!-- <mat-form-field >
            <mat-label>שפות</mat-label>
            <mat-select [(value)]="this.langs" (valueChange)="doSearch()">

                <mat-option *ngFor="let t of options" [value]="t">{{t.caption}}</mat-option>
            </mat-select>
        </mat-form-field> -->
    </form>

    <mat-nav-list role="list" *ngIf="this.tenants">
        <ng-container *ngFor="let o of this.tenants">
            <mat-list-item role="listitem" style="height:36px" (click)="select(o)">
                {{o.name}}
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-nav-list>
</div>
<div mat-dialog-actions>
  
    <button mat-icon-button (click)="create()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>clear</mat-icon>
    </button>


</div>