<div class="full-page">
    <div class="header">
        <div style="display: flex; flex-direction: column; justify-content: space-between; ">
            <div style="display: flex; flex-direction: row; justify-content: space-between; ">
                <div style="width: 100%;">
                    <data-control [field]='this.$.search'></data-control>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; ">
                <button style="width: 100%;" mat-raised-button color='primary' (click)="addVolunteer('')">
                    <!-- <mat-icon>dns</mat-icon> -->
                    <mat-label> {{ this.terms.addVolunteer }} </mat-label>
                </button>
            </div>
        </div>
    </div>
    <div class="grow-item">
        <data-grid [settings]="this.volunteers"></data-grid>
    </div>
    <div class="footer"></div>
</div>