<div class="full-page">
  <div class="grow-item">
    <div style="margin-top: 5% ;display:flex;flex-direction: column;flex-grow: 1;justify-content: space-between;">

      <h2 style="display:flex;justify-content: center;">שלום {{ remult && remult.authenticated() ? remult.user.name : ' - ' }}
        <span style="color: green;">{{ remult.authenticated() ? '' : 'לכניסה יש ללחוץ למעלה' }}</span>
      </h2>

      <!-- <div style="display:flex;flex-direction: row;justify-content: center;">
        <a href="https://www.al-sorag.co.il/" target="_blank">
          <img src="assets/logo.webp" width="150px" title="סקלר מעבדות" />
        </a>
      </div> -->
      <div style="display:flex;flex-direction: row;justify-content: center;">
        
      <div style="display:flex;flex-direction: column;justify-content: space-evenly;">
        <h1>אשל ירושלים</h1>
        <!-- <h4 style="text-align: end;">CALIBRATION & GREAT SERVICE</h4> -->
      </div>
        <!-- <h3 style="text-align: end;">CALIBRATION</h3>
        <h3 style="text-align: end;">& GREAT SERVICE</h3> -->
      </div>

      <h2 style="display:flex;justify-content: center;">חדשות שלנו..</h2>

      <!-- <div style="display:flex;justify-content: center;">
        <a href="https://www.eshel.org.il/" target="_blank">
          <img src="assets/logo_eshel.png" width="250px" title="אשל ירושלים" />
        </a>
      </div> -->

      <h2 style="display:flex;justify-content: center;">
        <a href="https://www.eshel.org.il/" target="_blank">
          <img src="/assets/promo_eshel.png" width="300px" title="אשל ירושלים" />
        </a>
      </h2>

    </div>
  </div>
</div>