<div class="full-page">
    <!-- <div style="display: flex; flex-direction: column; justify-content: space-evenly;"> -->
        <div class="topdiv">
            <!-- <h1>פעילות חברתית</h1> -->
            <!-- <picture> -->
            <img class="image" [srcset]="this.currentPhoto.link">
        <!-- </picture> -->
        </div>
        <div class="bottomdiv">
            <!-- <h1>פעילות התנדבותית</h1> -->
            <!-- <picture>
                <span>פעילות</span> -->
            <img class="image" [srcset]="this.currentPhoto.link">
        <!-- </picture> -->
        </div>
    <!-- </div> -->
</div>