<div class="full-page">
    <div class="header">
        <button mat-mini-fab color="primary" (click)="this.refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div class="grow-item">

        <div style="display: flex; flex-direction: column; justify-content: center;">
            <ng-container *ngFor='let a of this.activities'>
                <mat-card>
                    <mat-card-title> {{ a.tid }} </mat-card-title>
                    <mat-card-content>
                        {{ a.date | date:'dd.MM.yyyy' }}
                        {{ a.fh }} - {{ a.th }}
                    </mat-card-content>
                </mat-card>
                <button>התחלתי</button>
                <button>סיימתי</button>
                <button>ישנה בעיה</button>
            </ng-container>
        </div>

    </div>
    <div class="footer"></div>
</div>